.caseDialog {
  padding: 50px;
  width: 800px;
}
.row {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
  margin-bottom: 25px;
}

.descRow {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
mat-dialog-content {
}
